[submodule "ext/liblms7002m"]
	path = ext/liblms7002m
	url = https://github.com/xtrx-sdr/liblms7002m
[submodule "ext/libusb3380"]
	path = ext/libusb3380
	url = https://github.com/xtrx-sdr/libusb3380
[submodule "ext/xtrx_linux_pcie_drv"]
	path = ext/xtrx_linux_pcie_drv
	url = https://github.com/xtrx-sdr/xtrx_linux_pcie_drv
[submodule "ext/libxtrxll"]
	path = ext/libxtrxll
	url = https://github.com/xtrx-sdr/libxtrxll
[submodule "ext/libxtrx"]
	path = ext/libxtrx
	url = https://github.com/mokus0/libxtrx
[submodule "ext/libxtrxdsp"]
	path = ext/libxtrxdsp
	url = https://github.com/xtrx-sdr/libxtrxdsp
[submodule "ext/SoapySDR"]
	path = ext/SoapySDR
	url = https://github.com/pothosware/SoapySDR
[submodule "ext/gr-osmosdr"]
	path = ext/gr-osmosdr
	url = https://github.com/osmocom/gr-osmosdr
[submodule "ext/gr-fosphor"]
	path = ext/gr-fosphor
	url = https://github.com/osmocom/gr-fosphor
[submodule "ext/LimeSuite"]
	path = ext/LimeSuite
	url = https://github.com/myriadrf/LimeSuite.git
[submodule "ext/rx_tools"]
	path = ext/rx_tools
	url = https://github.com/rxseger/rx_tools
[submodule "ext/rust-soapysdr"]
	path = ext/rust-soapysdr
	url = https://github.com/mokus0/rust-soapysdr
[submodule "ext/gqrx"]
	path = ext/gqrx
	url = https://github.com/csete/gqrx
[submodule "ext/libiio"]
	path = ext/libiio
	url = https://github.com/analogdevicesinc/libiio
[submodule "ext/libad9361-iio"]
	path = ext/libad9361-iio
	url = https://github.com/analogdevicesinc/libad9361-iio
[submodule "ext/SoapyPlutoSDR"]
	path = ext/SoapyPlutoSDR
	url = https://github.com/pothosware/SoapyPlutoSDR
[submodule "ext/SoapyRTLSDR"]
	path = ext/SoapyRTLSDR
	url = https://github.com/pothosware/SoapyRTLSDR
[submodule "librtlsdr"]
	path = ext/librtlsdr
	url = https://github.com/steve-m/librtlsdr
